#background2 {
  background: linear-gradient(red,yellow,blue);
  animation: backgroundMoveRight 60s linear infinite;
}

/**
  * Krak
  */
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.kak div, .lol span {
  font-family: myFirstFont;
}