#main, #cont {
  background: transparent;
}
p:first-child {
  color: red;
}
p:last-child {
  border: 1px solid blue;
}
div:first-of-type {
  background-color: red;
}
div:last-of-type {
  background-color: green;
}
p:empty {
  border: 1px solid red;
}
*:root {
  background-color: #eee;
}
*:only-child {
  background-color: #0ff;
}
