@import url("temp.css");

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: medium;
}

hr {
	margin: 0;
	padding: 0;
	border: 1px solid;
}

img {
	border: none;
}

.st .bez-slovniku a:after,
.st a.bez-slovniku:after,
.st .boxy .s_sekce li a:after {
	content: normal;
	margin: 0;
}

blockquote {
	margin-left: 2em;
	font-style: italic;
	font-size: 90%;
}

.siroka { width: 95%; }
.message { font-size: 120%; }
.required { font-weight: bolder; }
.cistic { clear: both; }

.obal {
	margin: 0 5px 5px 5px;
	border: 1px solid;
	border-top: none;
}

.obal_ls,
.le { float: left; }

.obal_ps,
.ri { float: right; }

#zh-hledani input.text,
.s_sekce input.text {
	border: 1px solid;
	width: 120px;
}

.s_sekce input.text {
	margin-left: 0.5em;
}

.hw-sloupec .s_sekce input.text,
.sw-sloupec .s_sekce input.text {
	width: 100px;
	margin-left: -1em;
}

.button { height: 1.8em; font-size: small; }

/********************************************************/
#zh-kont {
	padding: 5px 240px 0 160px; /* right: zh-hledat + zh-text padding */
	font-size: small; /* left: zh-logo plna sirka */
}

#zh-kont .zh-box {
	position: relative;
	float: left;
}

#zh-text {
	padding: 0 20px;
	width: 100%;
	height: 50px;
	overflow: hidden;
	line-height: 1.1;
}

#zh-tema { float: left;  width: 49%; }
#zh-ad   { float: right; width: 49%; }

#zh-text div img.zh-iko {
	float: left;
	margin-right: 0.2em
}

#zh-logo {
	padding-left: 10px;
	width: 150px;
	right: 200px; /* zh-logo plna sirka + zh-text padding */
	margin-left: -100%;
}

#zh-logo a {
	display: block;
	width: 130px;
	height: 50px;
	background-position: left top;
	background-repeat: no-repeat;
}

#zh-hledani {
	width: 200px;
	margin-right: -240px; /* zh-hledat + zh-text padding */
}

#zh-hledani form {
	margin: 0;
}

/********************************************************/
#menu-wrap {
	margin: 0 5px;
}

.roh1,
.roh2 {
	display: block;
	height: 1px;
}

.roh1 {
	margin: 0 2px;
}

.roh2 {
	border-left: 1px solid;
	border-right: 1px solid;
	margin: 0 1px;
	border-width: 0 2px;
}

.menu-kont {
	border: 0 solid;
	border-width: 0 1px;
}

.menu {
	font-size: smaller;
	font-weight: bold;
	display: table;
	padding: 0;
	list-style: none;
	margin: 0 auto;
	white-space: nowrap;
	margin-bottom: -1px;
	/* kvuli FF, odsouva spodek '.menu > li', takze se u
	nerozvinovacich polozek menu ukazuje cara na spodu vybarveneho odkazu
	u '.menu > li > a:hover' */
}

.menu>li {
	display: table-cell;
	border-top: 1px solid;
	letter-spacing: -0.05em;
}

.menu a {
	display: block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

.menu>li>a {
	border-left: 1px solid;
	border-right: 1px solid;
	margin-top: -2px;
}

.menu>li:hover>a {
	border-left: 1px solid;
	border-right: 1px solid;
}

.menu ul a {
	border-bottom: 1px solid;
}

.menu ul li:last-child a {
	border-bottom: none;
}

.menu ul {
	font-weight: normal;
	z-index: 1;
	position: absolute;
	display: none;
	border: 1px solid;
	border-top: none;
	margin-top: -1px; /* kvuli FF, kompenzace 'margin-bottom:-1px;' u '.menu' */
}

.menu li.r ul {
	margin-left: -3.8em; /* podle sirky konkretniho slova */
	text-align: right;
}

.menu li:hover ul {
	display: block;
	padding: 0;
	list-style: none;
}

/********************************************************/
.hl {
	padding: 0 0.5em;
	line-height: 140%;
	border-bottom: 1px solid;
	font-size: 90%;
}

.hl a { text-decoration: none; }

.hl_vpravo {
	float: right;
	white-space: nowrap;
}

.hl ul { list-style: none; }
.hl ul.menu-top {
	margin: 0;
	padding: 0;
	display: table;
}
.hl ul.menu-drop {
	display: none;
	position: absolute;
	border: 1px solid;
	border-top: none;
	z-index: 1;
	padding: 0 1em;
	margin-left:-0.3em; }
.hl ul.menu-drop li {
	padding: 0.1em 0.5em;
	border-top: 1px solid;
}
.hl ul.menu-drop li:first-child { border: none; }
.hl .menu-top:hover .menu-drop { display: block; }

.pwd-box, .tag-box {
	min-height: 1.9em;
	border-bottom: 1px dotted;
	font-size: small;
	padding:0.1em 0.3em 0.2em 0.5em;
}
.do-zalozek { float: right; }
.pwd { padding-top: 0.4em; }

.st {
	padding: 0 0.7em;
	margin: 0.3em 0 0.5em 270px;
	border-left: 1px solid;
}

h1,h2,h3,h4 {
	margin: 0.5em 0 0 0;
}

h1 {font-size: 130%;}
h2 {font-size: 120%;}
h3 {font-size: 110%;}
h4 {font-size: 105%;}

.st_nadpis a {
	text-decoration: none;
}

.st_nadpis a:hover {
	text-decoration: underline;
}

.st hr { /* fix kvuli Opere 9.50 */
        margin: 5px 0px 0px 0px;
        position: relative;
        left: -5px;
}

.st p {
	margin: 0.4em 0 0.2em 0;
}

td.pad, code.kod, pre.kod {
	margin: 0.7em;
	padding: 0.3em 0.7em;
	border: 1px solid;
	display: block;
}

pre {
	padding: 0.3em 0.7em;
	overflow: auto;
}

.kod .rmargin {
	margin-right: 260px;
}

.st_vpravo {
	margin: 0.4em 1em 0 0;
	text-align: right;
}

.meta-vypis,
.treeview li span {
	font-size: 80%;
}

.cl_thumbnail {
	float: right;
	margin: 0.8em 0.4em 0 0.4em;
}

.cl_highlight {
	border: 1px solid;
	margin: 0.5em 305px 0.5em 0;
	padding: 0.1em 0.5em 0.5em 0.5em;
}

.cl_perex,
.perex,
.host .spec,
.souvisejici {
	margin: 1em 0;
	padding: 0.3em 1.5em;
	border: 0 solid;
	border-width: 2px 0 1px 0;
}

.cl_nadpis-link {
	font-size: small;
	float: right;
	margin-left: 1em;
}

.cl-obrazky {
	text-align: center;
}

.cl-tabulka {
	border-collapse: collapse;
	margin: 0 auto;
}
.cl-tabulka td {
	border-width: 0 1px 1px 0;
	border-style: solid;
}

.serial-nadpis {
	padding: 0.1em 0.5em 0.5em 0.5em;
	margin-bottom: 0.5em;
}

.ri.profile_list {
	margin-right: 1em; /* nektere verze Opery a Konq. */
	text-align: right;
}
.ri.profile_list ul { direction: rtl; }
.ri.profile_list ul li a {
	direction: ltr;
	unicode-bidi: bidi-override;
}


.rating {
	float: right;
	margin: 0.5em;
	text-align: center;
	border: 1px solid;
}

.swdetail .rating {
	float: left;
}

.rating .rating_iframe {
	font-size: x-small;
	width: 30ex;
}

.stupnice {
	width: 78px;
	height: 8px;
	border: 1px solid;
	margin-left: 25%;
}

.rtut { height: 8px; }
.hlasy { font-weight: bold; }

.uceb-nav {
	text-align: center;
	margin: 1.5em;
}

.uceb-nav span {
	padding: 0.5em;
	border: 1px solid;
}

.ds,.hw table,.sw table,.faq,.bazar-polozky,.autor {
	margin-top: 0.5em;
	border-width: 0;
	table-layout: auto;
}

.ds,.hw,.sw,.bazar,.autor { border-bottom: 1px solid; }

.ds .td-nazev .meta-odkazy {
	float: right;
	font-weight: normal;
}
.ds .td-nazev .st_nadpis a {
	letter-spacing: 0.2em;
	font-size: medium;
}

.ds thead td,
.hw thead td,
.sw thead td,
.faq thead td,
.bazar thead td,
.autor thead td {
	font-weight: bold;
	border-bottom: solid 1px;
}

.poradna td.td-forum {
	width: 400px;
}

td.td-nazev {
	width: 650px;
}

td.td-meta {
	width: 60px;
	text-align: center;
}

td.td-datum {
	width: 230px;
	text-align: right;
}

.td-meta .td-right {
	text-align: right
}

.ds_odsazeni { margin-left: 1em; }

.hw table.hw-sekce tbody td {
	width: 33%;
	padding: 0.1em;
}

.ds tbody tr a,
.autor tbody tr a,
.bazar table.bazar-polozky tr a,
.hw table.hw-sekce tbody td a,
.hw table.hw-polozky tr a,
.sw table.sw-polozky tr a { display: block; }

.sw-strom div { margin-left: 1em; }
.sw-strom div.uroven-1 { margin-left: 0; }

.hidden {
	display: none;
}

.tree div,
.tree div div {
	margin-left: 0.5em;
}

.filterHeader {
	font-weight: bold;
	cursor: pointer;
}

.ds_toolbox {
	border: 1px solid;
	border-width: 1px 0 1px 0;
	padding: 0.5em;
	font-size: 90%;
	margin-top: 0.5em;
}

.ds_attachments { border-top: 1px dotted; margin-top: 0.5em; }
.ds_attachments span { font-style: italic; }
.ds_attachments ul { margin: 0; }

.ds_control_sbalit,
.ds_control_sbalit2,
.ds_avatar { float: right; }

.ds_control_sbalit,
.ds_control_sbalit2,
.ds_control_sbalit3 { cursor: pointer; }

.ds_hlavicka,.ds_hlavicka_novy {
	margin-top: 10px;
	padding: 5px;
	border-top: 1px solid;
	font-size: 90%;
	height: auto;
}

.ds_hlavicka_blacklisted {
	font-size: 60%;
	padding: 1px;
}

.ds_controls_blacklisted,
.ds_telo_blacklisted,
.ds_control_sbalit2 {
	display: none;
}

.ds_text {
	padding: 5px;
}

.signature {
	font-size: 80%;
	margin: 1ex 0 0 5px;
	font-style: italic;
}

.dn_logo {
	float: right;
	margin: 0.5em
}

.s_odkaz {
	text-align: center;
	margin-bottom: 3px;
}

.s_nadpis {
	margin: 0.4em 0;
	padding: 0 0 2px 0.4em;
	font-weight: bold;
	border: 0 solid;
	border-width: 1px 0;
}

a.s_nadpis-pravy-odkaz {
	position: relative;
	font-weight: normal;
	margin-right: 0.4em;
	float: right;
}

.s_nadpis a.info {
	float: right;
}

.ramec .s_nadpis,
.boxy .s_nadpis {
	border-top: none;
	margin: 0;
}

a.info {
	position: relative;
	border: 1px solid;
	padding: 0 0.3em 0 0.3em;
	cursor: help;
	font-weight: bold;
}

a.info:hover {
	z-index: 1;
}

.s_sekce a.info:hover {
	text-decoration: none;
}

.s_sekce_dalsi {
	font-size: small;
	text-decoration: none;
}

a.info span.tooltip {
	display: none;
}

a.info:hover span.tooltip {
	display: block;
	position: absolute;
	left: -12em;
	top: 2em;
	font-weight: normal;
	font-size: small;
	width: 13em;
	border: 1px solid;
	padding: 0.2em;
}

.s,
.ds,
.boxy,
.ramec,
.ls_zpr span,
.st .anketa,
.st .rozc table,
.poradna tbody td,
.souvisejici,
.search_details,
#horni .lista-vpravo,
.rating,
.profile_list {
	font-size: 90%;
}

.s_sekce { padding: 0 0.3em; }

.s ul,
.ramec ul,
.boxy ul,
.rozc ul {
	margin: 0;
	padding-left: 1.3em;
	list-style-type: circle;
}

.ramec {
	border: 1px solid;
	margin: 0.5em 2px 0 2px;
}

.ramec td {
	vertical-align: top;
}

.s form {
	margin-top: 5px;
	margin-bottom: 5px;
}

.s_table { width: 100%; }
.s_table.skupiny tr>td+td { text-align: center; }
.s_table a {
	display: block;
	text-decoration: none;
}

.obal_ls,
.obal_ps {
	border: 1px solid;
	padding-bottom: 0.2em;
	width: 270px;
	margin: 0.3em;
}

.obal_ls {
	border-left: none;
	margin-left: 0;
}

.obal_ps {
	border-right: none;
	margin-right: 0;
}

a:hover,
.dl a,
.s li a,
.rozc li a,
.ds td a,
.hw td a,
.sw td a,
.autor td a,
.bazar td a,
.s_nadpis a,
.s_nadpis a:hover,
.textad a,a.info,
.ramec li a,
.boxy li a,
.sflista a,
.rating a,
.cl_perex a,
.treeview a,
.cl-obsah a,
.cl-serial a,
.reverse_anchor a {
	text-decoration: none
}

a,
.s li a:hover,
.rozc li a:hover,
.ds td a:hover,
.hw td a:hover,
.sw td a:hover,
.autor td a:hover,
.bazar td a:hover,
.textad a:hover,
.ramec li a:hover,
.boxy li a:hover,
.rating a:hover,
.cl_perex a:hover,
.treeview a:hover,
.cl-obsah a:hover,
.reverse_anchor a:hover {
	text-decoration: underline
}

/*.obal a[href^="http://"]:after {
	content: "\2197";
	font-size: 50%;
	vertical-align: super;
}
.obal .ps a[href^="http://"]:after { content: ""; }*/

.st a[href^="/slovnik/"]:after {
	content: url('/images/site2/slovnik.png');
	margin: 0 0.1em 0 0.2em;
}

#ls_prepinac {
	position: absolute;
	margin-top: 0.3em;
	left: 6px;
	border: 0 solid;
	border-width: 0 1px 1px 0;
	font-weight: bold;
	width: 1.5ex;
	height: 1.5ex;
	text-align: center;
	line-height: 1.3ex;
	cursor: pointer;
}

.vip-banner {
	margin: 0.4em 0 0 10px;
}

.mini-banner {
	margin: 0 0 0 7px;
}

.gg-sky {
	border-left: 1px solid;
	padding-left: 0.5em;
	float: right;
	margin-left: 1em;
}

.ank-sloup {
	border-top: 2px solid;
	border-bottom: 2px solid;
	width: 100%;
	height: 6px;
}

.ank-sloup-okraj {
	border: 1px solid;
}

.ank td,
.ank-odpov {
	margin: 0 3px 0.3em 0;
	border-top: 1px solid;
}

.ank-otazka {
	margin-bottom: 0.5em
}

.faq .meta-vypis,
.ankety .meta-vypis,
.serialy .meta-vypis {
	margin: 0 0 0.5em 3em;
}

.ls_zpr p {
	margin: 0.5em 0.2em;
	font-size: 95%;
}

.s hr {
	margin: 0.3em 0.5em;
}

.rozc a.server {
	margin-left: 1.3em;
	padding: 0 0.3em;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid;
}

.rozc ul,
.boxy ul {
	margin: 0.2em 0.1em;
}

.hw-sloupec .obal_ps,
.sw-sloupec .obal_ps {
	width: 200px;
}

.rozc td,
.boxy td,
.host .prehled td {
	vertical-align: top;
	padding: 0.2em;
	border: 1px solid;
	width: 33%;
}

.boxy td { padding: 0; }

.boxy,
.rozc table {
	width: 100%;
}

.dl {
	clear: both;
	border: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 80%;
	position: relative;
}

.dl_vlevo {
	float: left;
	padding-left: 1em;
}

.dl_vpravo {
	float: right;
	padding: 0 1em;
}

.dl_stred {
	position: absolute;
	left: 50%;
	margin-left: -120px;
}

.textad {
	border: 1px solid;
	padding: 0.2em 0.5em 0.5em 0.5em;
	margin: 0.5em;
	font-size: small;
}

.form-edit {
	margin: 0.4em 0 }

.form-edit a {
	border: 1px solid;
	padding: 0.2em 0.4em 0.1em 0.4em;
	text-decoration: none;
}

.form-edit a#serif { font-family: serif }
.form-edit a#mono { font-family: monospace }

.dict-abc a {
	padding: 0 5px;
	text-decoration: none;
}

.dict-item,
.questionToFaq,
.bazar-ad {
	margin: 0.5em;
	padding: 0.5em;
}

.search_results { text-align: right; }
.search_result { margin-top: 1em; }
.search_fragments { font-size: 80%; }
.highlight { font-weight: bold; }

table.hwdetail,
table.swdetail {
	border: none;
	margin-top: 1em;
}

.game-results {
	display: block;
	margin-top: 1em;
	padding: 0.1em;
}

.game-wrong {
	font-weight: bold;
}

div.cenzura {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 80%;
}

p.cenzura_duvod {
    margin: 1em;
    font-style: italic;
}

p.documentHistory {
    font-style: italic;
    font-size: small;
}

.desktopy .thumb { margin: 0.5em; }
.desktopy .uzivatele { float: right; }

/*************** SF lista *****************/
.sflista {
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	border: 1px solid;
}

.sflista a {
	display: table-cell;
	float: left;
	border: 1px solid;
	margin: 2px;
	padding: 3px 2px 0 2px;
}

.sflista img {
	vertical-align: middle;
	position: relative;
	top: -2px;
}

/*     treemenu     */
.treeview ul {
	margin: 0;
	padding: 0;
}

.treeview li {
	background: no-repeat left 0.4em;
	line-height: 1.5em;
	padding-left: 18px;
	margin-left: 10px;
	list-style-type: none;
}

.treeview li.submenu {
	padding-left: 25px;
	margin-left: 3px;
	background: no-repeat left 0.3em;
	cursor: pointer !important;
}

.treeview li.submenu ul {
	display: none;
}

.treeview .submenu ul li {
	cursor: default;
}

.skoleni-img {
	float: right;
	margin: 0.5em;
}



.skoleni table {
	width: 95%;
	border-bottom: 1px solid;
	margin-bottom: 1.5em;
	font-size: smaller;
}

.skoleni table td {
	padding: 0.2em;
	vertical-align: top;
	width: 33%;
}

.arbo-sky,
.arbo-sq {
	padding: 0 0 5px 5px;
	float: right;
}

.arbo-sky { clear: right; }

.itbiz { margin: 0.5em 290px 0.5em 20px;
         border-style: solid;
         border-width: 0 1px 1px 1px;
         background: top repeat-x;
         font-size: 90%;
         padding: 0.5em; }
.itbiz .header { font-weight:bold;
                 font-size: larger; }
.itbiz .logo { float: right;
               width: 49px;
               height: 18px;
               background: no-repeat; }
.itbiz .list { margin: 0;
               padding-left: 1.3em;
               list-style-type: circle; }

.modalWindow {
 	position: fixed;
 	z-index: 100;
 	top: 15%;
 	left: 15%;
 	bottom: 15%;
 	right: 15%;
 	background-color: white;
 	border: 1px solid black;
}

.modalWindowBackground {
 	position: absolute;
 	z-index: 99;
 	top: 0px;
 	left: 0px;
 	bottom: 0px;
 	right: 0px;
 	background-image: url('/images/site2/shadow60.png');
}

.krizek {
	float: right;
	font-weight: bold;
	padding: 0.1em 0.3em;
	font-size: larger;
	border: 1px solid gray;
	display: block;
	cursor: pointer;
}

.krizek:hover {
	background: #FFF8C3;
	color: black;
	text-decoration: none;
}

.modalStitky {
 	padding: 0.5em 0.5em 0.5em 1em;
 	overflow: hidden;
}

.modalStitky h2 {
	margin-bottom: 1ex;
}

.vyberStitku {
	position: relative;
	min-height: 200px;
}

.stitkySeznam {
	width: 15em;
	margin: 0.5em 0;
}

/*
.stitkySeznam {
	width: 30%;
	float: left;
	overflow-y: scroll;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 70%;
	bottom: 0px;
}

.stitkySeznam a {
	display: block;
}
*/

/* tag cloud */
#tagcloud_container { e }
#tagcloud { margin: 0; }
#tagcloud>li { display: inline; }
#tagcloud>li.class0 { font-size: 85%; }
#tagcloud>li.class1 { font-size: 95%; }
#tagcloud>li.class2 { font-size: 105%; }
#tagcloud>li.class3 { font-size: 115%; }
#tagcloud>li.class4 { font-size: 125%; }
#tagcloud>li.class5 { font-size: 135%; }
#tagcloud>li.class6 { font-size: 145%; }
#tagcloud>li.class7 { font-size: 160%; }
#tagcloud>li.class8 { font-size: 180%; }
#tagcloud>li.class9 { font-size: 200%; }
#tagcloud a { text-decoration: none;}

.stitkyOblibene {
	width: auto;
	padding: 0.1em 0.3em;
	border: 1px solid gray;
	margin: 0.5em;
}

.stitkyOblibene a {
	padding: 0 0.5em;
}

.note {
	font-size: 90%;
	margin: 0;
}

.editTags {
	margin-left: 1em;
}

.events td { padding: 0 0.5em; }
.event_hdr {
	border-width: 1px;
	border-style: dotted;
	font-size: 90%;
}

.eventCalendar { width: 100%; }
.eventCalendar td {
	width: 50px;
	text-align: center;
	border-width: 1px;
}
.eventCalendar a {
	text-decoration: none;
	display: block;
}
.eventCalendar td.month_year a { display: inline; }
.eventCalendar .event_day,
.eventCalendar .weekdays { font-weight: bold; }
.eventCalendar .event_day {
	border-width: 1px;
	border-style: dotted;
}
.eventCalendar.legenda tr>td+td {
	width: 250px;
	text-align: left;
	padding-left: 0.5em;
}
#gg_map {
	border-width: 1px;
	border-style: solid;
	margin-left: 0.5em;
}
