<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- This is the configuration for LOG4J -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="cssbox" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/tmp/cssbox.log"/>
        <param name="MaxFileSize" value="1000KB"/>
        <param name="MaxBackupIndex" value="3"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%r [%t] %-5p %c - %m %n"/>
        </layout>
    </appender>   

    <logger name="test" additivity="false">
        <level value="debug" />
        <appender-ref ref="cssbox" />
    </logger>
    
    <logger name="cz.vutbr.web.csskit" additivity="false">
        <level value="debug" />
        <appender-ref ref="cssbox" />
    </logger>
    
    <logger name="cz.vutbr.web.csskit.parser" additivity="false">
        <level value="trace" />
        <appender-ref ref="cssbox" />
    </logger>    
    
    <logger name="cz.vutbr.web.domassign" additivity="false">
    	<level value="trace" />
        <appender-ref ref="cssbox" />
    </logger>

    <root>
        <priority value="warn"/>
        <appender-ref ref="cssbox"/>
    </root>

</log4j:configuration>
