#marginator {
	margin: 100px;
	border-top: olive dotted 5ex;
}

BODY {
  background-color: #EEE;
  color: red;
  font-weight: 200;
}

H1.prvni+P {
  color: #00A;
}

H1 {
  font-size: 20px;
  color: #000;
}

H1.prvni {
  color: #00A;
}

.AA {
  font-weight: bold;
}

.BB {
  color: #0F0;
}

#fontoid {
	font-family: monospace;
	color: inherit;
}

